body { 
    font-family: 'Open Sans', sans-serif; 
    color: #444; 
}

h1, h2, h3, h4 {
    color: #333;
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    font-size: 152%
}

h3, h4 {
    font-size: 122%;
    
}

p {
    font-size: 100%; line-height: 18px; padding-right: 3em;
}

a {
    color: #990003;
}

a:hover {
    text-decoration: none;
}

.contato {
    margin-top: 1%;
}

.corpo {
    margin: 5% 0 5% 0;
    padding: 2% 5% 2% 5%;
    background: #f5f5f5;
    border: solid #999;
    border-width: 8px 0 1px 0;
}

.divisor {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2%;
}

#nome {
    padding-right: 5%;
}

.pdf {
    background: #DA251C;
    color: white;
    border-radius: 50%;
    margin: 0 2% 0 0;
}

.pdf:hover {
    background-color: rgb(238, 68, 59);
}

a#pdf:hover {
    background: #222;
}

.alinhar {
    padding: 3% 0 0 0;
}

p.aumentar {
    font-size: 1.1rem;
    line-height: 24px;
}

p.aumentar span {
    color: #000
}

.divisor-habilidade {
    border: solid rgb(199, 199, 199);
    border-width: 0 2px 0 0;
}

.nota {
    font-size: 0.7rem;
    font-style: italic;
}

#rodape {
    padding: 3% 0 2% 0;
    font-size: 70%;
    border-top: 1px solid #ccc;
    text-align: center;
}

#rodape p {
    margin-bottom: 0;
    text-align: center;
}
